Travel_Guide Pre Data Processing.json
{
  "name": "Travel_Guide Pre Data Processing",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1BNs7B2x232Jwg5d1ZBkN2sdo5JJiJ_TE",
          "mode": "list",
          "cachedResultName": "Travel_Guides",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1BNs7B2x232Jwg5d1ZBkN2sdo5JJiJ_TE"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -192
      ],
      "id": "ad294055-15e2-4b9c-a45e-3c2d3f970f87",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "T1az4RHrQeammCmk",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        -192
      ],
      "id": "f187092e-fa4e-4600-8809-d57f77b28b3f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "T1az4RHrQeammCmk",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $('Google Drive Trigger').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        592,
        32
      ],
      "id": "7498c895-761f-4343-83c6-ec3be7d29982",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "travelguiderahwithhigherdimension",
          "mode": "list",
          "cachedResultName": "travelguiderahwithhigherdimension"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        448,
        -192
      ],
      "id": "302cc7a5-076d-4ee0-8297-b38fcac74255",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "xeqxfqhUOAzISLGk",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        464,
        32
      ],
      "id": "fe33eea1-9016-4fd8-820d-7e2eaec87fe8",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "ym9sEerRCpnYPWUf",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4db68710-02e5-428d-b363-4a7d3577e405",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "54f5f263d5aa9d9d70cb63d056fbfac8cbfc60d9037c22fe7a41aed220d76f77"
  },
  "id": "DqXmsJM5J0VMjctV",
  "tags": []
}